# Rust build artifacts
debug/
target/
Cargo.lock

# WASM-specific build outputs
verifier/pkg/
pkg/
pkg-node/
pkg-web/
dist/
build/

# elfs
elfs
elf

# env
.env
.env.local

# OS-specific files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules
package-lock.json
yarn.lock

/example/binaries
/example/json

